Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-uppercase-literal-suffix,
  -readability-math-missing-parentheses,
  -readability-convert-member-functions-to-static
WarningsAsErrors: ''
HeaderFilterRegex: '(^|/)include/nn/[^/]+\.h$'
FormatStyle: file
